<%- include("../partials/header") %>
<% product.forEach(function(p){ %>
name: <%= p.name %>
</br>
<img class="showProduct" src="<%= p.api_featured_image %>" >
<div>View on <a class="showProduct" href="<%= p.product_link %>"  target=”_blank” ><span class="showProduct"><%= p.brand %></span></a> Website </div>
</br>Price: <%= p.price %>   
<% if (p.currency){ %>
<%= p.currency %>
<% } else{%>
  CAD <% } %>
</br>Description: <%= p.description %>
<% if (user) { %>
  <% if(cloth.products.includes(p._id)){ %>
  <form action="/users/<%= p._id %>" method="POST">
    <button type="submit">WishListed!</button>
    </form>
  <% } else { %>
    <form action="/users/<%= p._id %>" method="POST">
    <button type="submit">Add to WishList</button>
</form>
<% } %>

  <br><br><h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/products/<%= p._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review">
</form>
  <% } else { %>
<h3>Please <a href="/auth/google">login</a> to submit a review</h3>
    <% } %>



<% if (p.reviews.length) { %>
  <table>
    <thead>
      <tr>
      	 <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% p.reviews.forEach(function(r) { %>
        <tr>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>

<% }) %>

<%- include("../partials/footer") %>