<%- include("../partials/header") %>
name: <%= product[0].name %>
</br>
<img class="showProduct" src="<%= product[0].api_featured_image %>" >
<div>View on <a class="showProduct" href="<%= product[0].product_link %>"  target=”_blank” ><span class="showProduct"><%= product[0].brand %></span></a> Website </div>
</br>Price: <%= product[0].price %>   
<% if (product[0].currency){ %>
<%= product[0].currency %>
<% } else{%>
  CAD <% } %>
</br>Description: <%= product[0].description %>
<form action="" method="POST">
    <button type="submit">Add to WishList</button>
</form>


<% if (user) { %>
  <br><br><h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/products/<%= product._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review">
</form>
  <% } else { %>
<h3>Please <a href="/auth/google">login</a> to submit a review</h3>
    <% } %>



<% if (product[0].reviews.length) { %>
  <table>
    <thead>
      <tr>
      	 <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% product[0].reviews.forEach(function(r) { %>
        <tr>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>



<%- include("../partials/footer") %>