<%- include("../partials/header") %>
<% product.forEach(function(p){ %>
  <div class= "showClass">
<h2> Name: <%= p.name %> </h2>

<img class="showProduct" src="<%= p.api_featured_image %>" >
Brand: <%= p.brand %>
<div>View on <a class="showProduct" href="<%= p.product_link %>"  target=”_blank” ><span class="showProduct"><%= p.brand %> Website </span></a></div>
<% if (p.price || p.price==0){ %>
Price: - 
<% } else{%>
<%= p.price %>   
<% if (p.currency){ %>
<%= p.currency %>
<% } else{%>
  CAD <% }} %>

</br><div class="descriptionClass">Description: <%- p.description %></div>
<% if (user) { %>
  <% if(cloth.products.includes(p._id)){ %>
  <form action="/users" method="GET">
    <button type="submit"><i class="material-icons left">favorite</i>WishListed!</button>
    </form>
  <% } else { %>
    <form action="/users/<%= p._id %>" method="POST">
    <button type="submit"><i class="material-icons left">favorite_border</i>Add to WishList</button>
</form>
<% } %>
</div>
  <br><br><h3>Reviews</h3>
<form id="add-review-form" method="POST" action="/products/<%= p._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review">
</form>
  <% } else { %>
<h3>Please <a href="/auth/google">login</a> to submit a review</h3>
    <% } %>



<% if (p.reviews.length) { %>
  <table>
    <thead>
      <tr>
      	 <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% p.reviews.forEach(function(r) { %>
        <tr>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>

<% }) %>

<%- include("../partials/footer") %>